# Copie este ficheiro para "chaves.env" e preencha com as chaves de PRODUCAO
# da sua aplicacao em https://developer.ebay.com/my/keys
EBAY_APP_ID=
EBAY_CERT_ID=
EBAY_DEV_ID=
# Para os observadores: em https://developer.ebay.com/my/auth escolha
# "Auth'n'Auth", entre com a sua conta eBay e copie o token gerado (valido ~18 meses)
EBAY_USER_TOKEN=
# Discogs (gratuito): em https://www.discogs.com/settings/developers carregue em
# "Generate new token" e copie o token pessoal
DISCOGS_TOKEN=
